#ignore keyfiles and other things we'll see while running
*.pyc
*.priv
*.pub
*.pem
*.sqlite
*.sql
*.log
*.bz2

logs/
backup/

# files the notary may create:
notary.db.config

# static index is created from a template;
# ignore the output file that is created.
notary_static/index.html

# test databases
test/notary.sql_performance_test.slqite
test/notary_statements.sql
test/notary.unit_test.slqite

