# cherrypy config for network notary
# tools.staticfile.root will be set dynamically through code

[/favicon.ico]
tools.staticfile.on = True
tools.staticfile.filename = "img/perspectives.ico"

[/img]
tools.staticdir.on = True
tools.staticdir.dir = "img"

[/css]
tools.staticdir.on = True
tools.staticdir.dir = "css"
